<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Weather App</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}" />
    <link rel="shortcut icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
    <link rel="icon" href="{% static 'favicon.ico' %}" type="image/x-icon">
</head>
<body>
    <h1>My Weather App</h1>
    <p>{{name_ve}}</p>
    <p>{{degree_ve}}</p>
    <p>{{wind_ve}}</p>
    <p>{{humidity_ve}}</p>
    <p>{{pressure_ve}}</p>
</body>
<script>
    // refresh/redirect after 5 seconds.
    window.setTimeout(function () {
        location.href = "http://127.0.0.1:8000/weatherapp/";
    }, 50000);
</script>
</html>